body{
    margin: 3rem;
}

section {
    width: 262px;
    min-height: 382px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    position: relative;
    overflow: hidden;
    padding-top: 16px;
    margin-left: 64px;
}

section h5, p{
    font-family: var(--font-montserrat);
}

button{
    border: none;
    background-color: #FFFFFF;
}

.card{
    text-align: center;
    border-radius: 10em 10em 0 0;
    box-shadow: 0 0 10px teal;
    border: 0;
    overflow: hidden;
}
.card i {
    background-color: transparent;
    border-radius: 50%;
    padding: 0.25rem;
    cursor: pointer;
    color: #004878;
    outline: none;
    border: none;
  }

.card i:hover{
    opacity: 0.8;
    transform: scale(1.1);
    transition: transform 0.2s ease, opacity 0.2s ease;
    color: #0164a7;

}
.card img{
    border-radius: 10em 10em 0 0;   
    width: 100%;
}

.card .btn{
    background-color: teal;
    border-color: teal;
    padding: .75em;
    border-radius: 0;
}

.card .btn:hover{
    background-color: lightseagreen;
    border-color: lightseagreen;
}

